
/*#world {*/
    /*width: 1000px;*/
    /*height: 1000px;*/
/*}*/

body {
    background: #000;
    overflow: hidden;
}

#world {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}

#items {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 3;
}

#fx {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 4;
}

#cursor {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
}